body {
    margin: 0;
}

.wrapper {
    width  : 100%;
    display: flex;
}

.container {
    width       : 100%;
    border-right: 2px solid gray;
    padding     : 20px;
    box-sizing  : border-box;

    &_result {
        width       : 40%;
        border-right: none;
    }

}



.task {
    height         : 300px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}


.square {
    // только исправления, новых св-в не добавлять!
    width           : 200px;
    height          : 200px;
    background-color: green;
    color           : white;
    font-size       : 40px;
    font-weight     : bold;
    box-shadow      : 10px 10px 20px 0px black;
    border          : 1px solid red;
    display         : flex;
    align-items     : flex-end;
    justify-content : flex-end;
    padding         : 10px;
}


.clip {
    width        : 200px;
    height       : 100px;
    background   : linear-gradient(90deg, rgba(131, 104, 71, 0.68) 50%, rgba(210, 126, 206, 0.94) 100%);
    border       : 3px 0px 0px 3px solid green;
    clip-path    : polygon(0% 0%, 80% 0%, 80% 20%, 100% 0%, 100% 100%, 0% 100%);
    border-left  : 3px solid green;
    border-bottom: 3px solid red;
}


.news {
    width: 300px;

    &__title {
        font-weight: bold;
        font-size  : 25px;
    }

    &__text {


        &-italic {
            font-style     : italic;
            color          : red;
            font-size      : 20px;
            text-decoration: underline;
            /*подчеркивание текста*/
            text-transform : uppercase;
            /*все большие буквы(строчные)*/
        }


    }
}


.perspective {
    width              : 200px;
    height             : 200px;
    background-color   : orange;
    position           : relative;
    // border-radius   : ;
    // border          : ;


    &__inside-1 {
        width           : 150px;
        height          : 150px;
        background-color: green;
        position        : absolute;
        right           : -50px;
        bottom          : 100px;
        box-shadow      : 0px 0px 10px 0px black;
    }

    &__inside-2 {
        width           : 100px;
        height          : 100px;
        background-color: red;
        left            : -50px;
        top             : 100px;
        box-shadow      : 0 0 10px 0 black;
        position        : absolute;


    }
}